<div class="container" style="margin-top:30px">    
        <div class="row" style="text-align: center;">
            <div class="col-md-4"><br><br>
                <img src="images/team.png" height="300px" width="300px" /><br><br><br>
                <p ><a href="http://truffeetpattes.e-monsite.com/medias/files/statut-truffe-et-pattes.pdf" title="Statut truffe et pattes"> <img alt="Statut truffe et pattes" src="http://truffeetpattes.e-monsite.com/medias/static/fileicon/pdf.png" width="30" height="30" />Statuts de l'association</a>                            (93.11 Ko)</p>

            </div>
        <div class="col-md-8" style="text-align: justify;">

                    <h4>{{__ "about.law"}}
                        <b>W563005925.</b> <br>{{__ "about.reason"}}<br>
                        <br><strong>{{__ "about.work"}}</strong><br><br>
                        <ul>
                            <li>{{__ "about.reason1"}}</li><br>
                            <li>{{__ "about.reason2"}}</li><br>
                            <li>{{__ "about.reason3"}}</li><br>
                            <li>{{__ "about.reason4"}}</li>
                        </ul>

                    </h4><br><a class="btn" href="contact">{{__ "about.contact"}}</a></div>

</div>
</div>
<br><br>
<!-- End of row-->
<!-- End of Container-->
<!-- End of about Section-->