<!-- translate from html with https://pughtml.com/, god bless this website-->
<section class="work sections" id="work">
    <div class="container">
        <div class="row">
            <div class="main_mix_content text-center margin-top-30">
                <table class="table">
                    {{#each dogs}}
                        <form id="onedog" action="/dog" method="get">
                            <tr>
                                <div class="col-sm-4 col-xs-12 mix category-2">
                                    <input type="hidden" type="number" name="idAnimal" value={{this.idAnimal}}>
                                    <input type="image" class="card-img-top"
                                           src="/images/animals/{{this.nomAnimal}}_{{this.idAnimal}}_0.jpg"
                                           width="200" height="200"
                                           onerror="this.onerror=null;this.src='/images/animals/no_picture.png'">
                                    <p>{{this.nomAnimal}}</p>
                                    <p>{{this.dateNaissAnimal}}</p>
                                </div>
                            </tr>
                        </form>
                    {{/each}}
                </table>
            </div>
        </div>
        <!-- End of row-->
    </div>
    <!-- End of Contaier-->
</section>
<!-- End of portfolio Section-->