<br>

<!-- End of header-->
<section class="aboutus margin-top-50" id="aboutus">

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: left;"><h2 style="color:red">{{info}}</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">

                            <!-- End of head title-->
                            <div>
                                <table class="table"><fieldset><legend>Ajouter une adoption</legend>
                                    <thead>
                                    <!-- En-tête du tableau-->
                                    <tr>
                                        <th scope="col">ID Animal</th>
                                        <th scope="col">ID Personne</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <form id="dogsAsked" action="/dogsAsked" method="post">
                                        <tr>
                                            <td><input list="InsertidAnimal" name="InsertidAnimal" required></td>
                                            <datalist id="InsertidAnimal">
                                                {{#each myDogs}}
                                                    <option value="{{this.idAnimal}}">{{this.nomAnimal}}</option>
                                                {{/each}}
                                            </datalist>
                                            <td><input list="InsertidPerson" name="InsertidPerson" required></td>
                                            <datalist id="InsertidPerson">
                                                {{#each personnes}}
                                                    <option value="{{this.idPersonne}}">{{this.prenomP}} {{this.nomP}}</option>
                                                {{/each}}
                                            </datalist>
                                            <td style="vertical-align: center;"><h4><input type="submit" style="background-color:lightgreen"  value="Ajouter"></h4></td>
                                        </tr>
                                    </form>
                                    </tbody></fieldset>
                                </table>
                            </div>
                        </div></div>

                    <br><br>
                    <div style="overflow: auto;">


                        <table class="table"><fieldset><legend>Toutes les adoptions enregistrées</legend></fieldset>
                            {{#each dogs}}

                                <thead>

                            <!-- En-tête du tableau-->
                            <tr>
                                <th scope="col">ID Animal</th>
                                <th scope="col">ID Personne</th>
                                <th scope="col">Adoption validée</th>
                                <th scope="col">Contrat d'adoption</th>
                                <th scope="col">Date du contrat</th>
                                <th scope="col">Commentaires</th>
                                <th scope="col">Date cession ICAD</th>
                                <th scope="col">Paiement</th>
                                <th scope="col"></th></fieldset>
                                 </tr>
                            </thead>
                            <tbody>

                            <!-- data-->


                                <form id="dogAskedDelete" action="/dogsAsked" method="post">
                                    <tr>
                                        <input type="hidden" name="deleteidAnimal" value="{{this.idAnimal}}">
                                        <input type="hidden" name="deleteidPersonne" value="{{this.idPersonne}}">
                                        <td>{{this.idAnimal}}</td>
                                        <td>{{this.idPersonne}}</td>
                                        <td>{{this.adoptionValidee}}</td>
                                        <td>{{this.contratAdoption}}</td>
                                        <td>{{this.dateContratRecu}}</td>
                                        <td>{{this.commentaires}}</td>
                                        <td>{{this.dateCessionIcad}}</td>
                                        <td>{{this.paiement}}</td>
                                        <td><h4 style="text-align: right;" >  <input style="background:orangered"  type="submit" value="Supprimer"></h4></td>
                                    </tr>
                                </form>

                            <tr ><td style="border: none;"></td></tr>
                            <tr ><td style="border: none;"></td></tr>
                                <form id="updateDogsAsked" action="/dogsAsked" method="post">
                                    <tr>
                                        <td><input type="number" name="UidAnimal" value="{{this.idAnimal}}" readonly></td>
                                        <td><input type="number" name="UidPerson" value="{{this.idPersonne}}" readonly></td>
                                        <td><label>0=non 1=oui 3=?</label>
                                            <input list="UadoptionValidee" name="UadoptionValidee" value="{{this.adoptionValidee}}" required>

                                            <datalist id="UadoptionValidee">
                                                <option value="1">Oui</option>
                                                <option value="0">Non</option>
                                                <option value="3">?</option>
                                            </datalist></td>
                                        <td><input type="text" name="UcontratAdoption" value="{{this.contratAdoption}}"></td>
                                        <td><input type="date" name="UdateContratRecu" value="{{this.dateContratRecu}}"></td>
                                        <td><input type="text" name="Ucommentaires" value="{{this.commentaires}}"></td>
                                        <td><input type="date" name="UdateCessionIcad" value="{{this.dateCessionICAD}}"></td>
                                        <td><input type="text" name="Upaiement" value="{{this.Paiement}}"></td>
                                        <td style="vertical-align: center;"><h4><input type="submit" style="background-color:gold"  value="Mettre à jour"></h4></td>

                                    </tr>


                                </form>
                            <tr ><td style="border: none;"></td></tr>
                            <tr ><td style="border: none;"></td></tr>
                            <tr ><td style="border: none;"></td></tr>
                            <tr ><td style="border: none;"></td></tr>
                            <tr ><td style="border: none;"></td></tr>
                            <tr ><td style="border: none;"></td></tr>
                            <tr ><td style="border: none;"></td></tr>
                             {{/each}}
                            </tbody></fieldset>
                        </table>
                        <br><br>


                    </div>
                </div>
                <!-- End of col-sm-12-->
            </div>
            <!-- End of row-->
        </div>
        <!-- End of Container-->
        <hr/>
    </div></div>
</section>
