<br><h4 style="text-align: center;"><a href="adoption">Comment adopter ?</a></h4>

<!-- translate from html with https://pughtml.com/, god bless this website-->
<section class="work sections" id="work">
    <div class="container">
        <div class="row">
            <div class="main_mix_content text-center margin-top-30">
                <div>
                    <form id="tris" action="/dogs" method="post">
                        <input list="tri" name="tri" required>
                        <datalist id="tri">
                            <option value="1">Ordre alphabétique</option>
                            <option value="2">Ordre alphabétique inversé</option>
                            <option value="3">Date de naissance DESC</option>
                            <option value="4">Date de naissance ASC</option>
                        </datalist>
                        <input class="w3-btn w3-blue-grey" type="submit"  value="Trier">
                    </form>
                </div>

                <br><br><br>
            <div>
                    <table class="table">
                            {{#each dogs}}
                            <form id="onedog" action="/dog" method="get">
                            <tr>
                                <div class="col-sm-4 col-xs-12 mix category-2">
                                    <input type="hidden" type="number" name="idAnimal" value={{this.idAnimal}}>
                                    <input type="image" class="card-img-top" src="images/animals/{{this.nomAnimal}}_{{this.idAnimal}}_0.jpg"
                                           width="200" height="200" onerror="this.onerror=null;this.src='images/animals/no_picture.png'">
                                    <p style="text-align: center;">Nom : {{this.nomAnimal}}</p>
                                    <p style="text-align: center;">Naissance : {{this.dateNaissAnimal}}</p>
                                    <script>
                                            age = "{{this.dateNaissAnimal}}".substr(0,4);
                                            annee = new Date().getFullYear()-age;
                                             document.write("Âge : " +annee.toString()+" an(s)");

                                    </script>
                                    <p></p><br>
                                </div>
                            </tr>
                            </form>
                            {{/each}}
                    </table>
                </div>
            </div>
        </div>
        <!-- End of row-->
    </div>
    <!-- End of Contaier-->
</section>
<!-- End of portfolio Section-->

