<br xmlns="http://www.w3.org/1999/html">
<div style="text-align: center;"><h2 style="color:red">{{warning}}</h2></div><br>
    <div style="text-align: center;"><h2 style="color:red">{{info}}</h2> </div>
<!-- End of header-->
<section class="aboutus margin-top-80" id="aboutus">

    <div class="container">
         <div class="row">
            <div class="col-md-12">
                <!-- End of head title-->
                <fieldset><legend>Ajouter une famille d'accueil</legend>
                <div>
                    <table class="table">
                        <thead>
                        <!-- En-tête du tableau-->
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Facebook Page</th>
                            <th scope="col">Téléphone domicile</th>
                            <th scope="col">Téléphone portable</th>
                            <th scope="col">Autre téléphone</th>
                            <th scope="col">Email</th>
                        </tr>
                        </thead>
                        <tbody>

                        <form id="InsertFA" action="/dogsFA" method="post">
                            <tr>
                                <td><input type="text" name="nomFA"  required>
                                </td>
                                <td><input type="text" name="prenomFA">
                                </td>
                                <td><input type="text" name="FacebookPage"  >
                                </td>
                                <td><input type="text" name="telDomicile"  >
                                </td>
                                <td><input type="text" name="telPortable"  >
                                </td>
                                <td><input type="text" name="autreTel"  >
                                </td>
                                <td><input type="text" name="email"  >
                                </td>
                                <td style="vertical-align: center;"><input type="submit" style="background-color:lightgreen"  value="Ajouter"></td>
                            </tr>
                        </form>
                        </tbody>
                    </table>
                </div></fieldset>
<br><br><br>
                <div> <fieldset><legend>Placer un chien dans une famille d'accueil</legend>
                    <table class="table">
                        <thead>
                        <!-- En-tête du tableau-->
                        <tr>
                            <th scope="col">ID Animal</th>
                            <th scope="col">ID Personne</th>
                            <th scope="col">Date de début</th>
                            <th scope="col">Date de fin</th>
                            <th scope="col">Commentaires</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <form id="InsertDogFA" action="/dogsFA" method="post">
                            <tr>
                                <td><input list="InsertidAnimal"  name="InsertidAnimal"required>
                                <datalist id="InsertidAnimal">
                                    {{#each dogs}}
                                    <option value="{{this.idAnimal}}">{{this.nomAnimal}}</option>
                                    {{/each}}
                                </datalist></td>
                                <td><input list="InsertidFA" name="InsertidFA"  required>
                                    <datalist id="InsertidFA">
                                        {{#each personnes}}
                                            <option value="{{this.idPersonne}}">{{this.nomP}} {{this.prenomP}}</option>
                                        {{/each}}
                                    </datalist></td>
                                </td>
                                <td><input type="date" name="InsertdateDebut" required></td>
                                <td><input type="date" name="insertDateFin"></td>
                                <td><input type="text" name="insertCommentaires"></td>
                                <td style="vertical-align: center;"><input type="submit" style="background-color:lightgreen"  value="Ajouter"></td>
                            </tr>
                        </form>
                        </tbody>
                    </table></fieldset>
                </div>



                <br><br><br>




                <div> <fieldset><legend>Chiens en familles d'accueil</legend>
                    <table class="table">
                        <thead>
                        <!-- En-tête du tableau-->
                        <tr>
                            <th scope="col">ID Animal</th>
                            <th scope="col">ID Personne</th>
                            <th scope="col">Date de début</th>
                            <th scope="col">Date de fin</th>
                            <th scope="col">Commentaires</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- data-->
                        {{#each dogsFA}}
                            <form id="deleteDogFA" action="/dogsFA" method="post">
                                <tr>
                                    <td>{{this.idAnimal}}</td>
                                    <td>{{this.idPersonne}}</td>
                                    <td>{{this.dateDebut}}</td>
                                    <td>{{this.dateFin}}</td>
                                    <td>{{this.commentaire}}</td>
                                    <td><input type="hidden"  name="idAnimalFA" value={{this.idAnimal}}>
                                        <input type="hidden" name="idPersonneFA" value={{this.idPersonne}}>
                                        <input type="hidden" name="dateDebutFA" value={{this.dateDebut}}>
                                        <input style="background:orangered"  type="submit" value="Supprimer"></td>
                                </tr>


                        </form>{{/each}}
                        </tbody></table><br></fieldset></div>
                <br><br><br>
                <div> <fieldset><legend>Modifier un enregistrement dans une famille d'accueil</legend>
                    <table class="table">
                        <thead>
                        <!-- En-tête du tableau-->
                        <tr>
                            <th scope="col">ID Animal</th>
                            <th scope="col">ID Personne</th>
                            <th scope="col">Date de début</th>
                            <th scope="col">Date de fin</th>
                            <th scope="col">Commentaires</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each dogsFA}}
                            <form id="updateDogFA" action="/dogsFA" method="post">
                                <tr>
                                    <td><input type="number" name="updateidAnimal" value="{{this.idAnimal}}" readonly required></td>
                                    <td><input type="number" name="updateidPersonne" value="{{this.idPersonne}}" readonly required></td>
                                    <td><input type="date" name="updatedateDebut" value="{{this.dateDebut}}" readonly required></td>
                                    <td><input type="date" name="updatedateFin" value="{{this.dateFin}}"></td>
                                    <td><input type="text" name="updatecommentaire" value="{{this.commentaire}}"></td>
                                       <td> <input style="background:gold"  type="submit" value="Mettre à jour"></td>
                                </tr>


                        </form>   {{/each}}
                        </tbody>
                    </table></fieldset>
                </div>
            </div>
            <!-- End of col-sm-12-->
        </div>
        <!-- End of row-->
    </div>
    <!-- End of Container-->
    <hr/>

</section>
