<div class="container">
<div class="container-fluid">
    <h5 style="text-align:center"><a href="adoption">Comment adopter ?</a></h5>
    <br>
        <div class="row">
            <div class="col-sm-6" >
                <div style="text-align: right;"><img src="images/oscar-fiche-1.jpg" width="292" /></div>
            </div>
            <div class="col-sm-6">
                <h4>ID : {{dog.idAnimal}}</h4>
                <h4>ICAD : {{dog.icad}}</h4>
                <h4>Nom : {{dog.nomAnimal}}</h4>
                <h4>Sexe : {{dog.sexe}}</h4>
                <h4>Date de naissance : {{dog.dateNaissAnimal}}</h4>
                <h4>Espèce : {{dog.especeAnimal}}</h4>
                <h4>Couleur(s) : {{dog.couleursAnimal}}</h4>
                <h4>Race : {{dog.race}}</h4>
            </div>
        </div>
    </div>
    <br>

    <form action="action_page.php">
        <input for="idAnimal" value="{{dog.idAnimal}}" hidden></input>
        <input type="text" id="idAnimal" name="idAnimal" value="{{dog.idAnimal}}" hidden></input>

        <label for="j">Jour souhaité de l'adoption</label>
        <input type="text" id="j" name="jouradoption" placeholder="Jour/Mois/Année..." required></input>

        <h2 style="color:slateblue">Votre environnement</h2>

        <label for="typelogement">Type de logement</label>
        <select name="typeLogement">
            <option value="maison">Maison</option>
            <option value="appartement">Appartement</option>
        </select>

        <p></p>

        <label for="surface">Surface du logement</label>
        <input type="text" id="surface" name="surfacelogement" placeholder="Surface en m2..." required></input>

        <p></p>

        <label for="j">Extérieur</label>
        <select name="j">
            <option value="jOui">Avec jardin</option>
            <option value="jNon">Sans jardin</option>
            <option value="jSans">Pas d'extérieur</option>
        </select>

        <p></p>

        <label for="enfant">L'animal cotoiera-t-il régulièrement des enfants ?</label>
        <select name="enfant">
            <option value="enfantOui">Oui</option>
            <option value="enfantNon">Non</option>
        </select>

        <p></p>

        <label for="animaux">Avez-vous d'autres animaux ?</label>
        <select name="animaux">
            <option value="animauxOui">Oui</option>
            <option value="animauxNon">Non</option>
        </select>

        <p></p>

        <label for="propre">Accepteriez-vous de parfaire son éducation si l'animal confié n'est pas propre ?</label>
        <select name="propre">
            <option value="propreOui">Oui</option>
            <option value="propreNon">Non</option>
        </select>

        <p></p>

        <label for="maltraitance">Accepteriez-vous d'accueillir un animal craintif, ayant subi des maltraitances ? </label>
        <select name="maltraitance">
            <option value="maltraitanceOui">Oui</option>
            <option value="maltraitanceNon">Non</option>
        </select>

        <p></p>

        <label for="soins">Accepteriez-vous d'accueillir un animal qui nécessite des soins ou des traitements vétérinaires spécifiques ? </label>
        <select name="soins">
            <option value="soinsOui">Oui</option>
            <option value="soinsNon">Non</option>
        </select>

        <p></p>

        <label for="autre">Souhaitez-vous indiquer des informations supplémentaires ? </label>
        <textarea data-type="control_textbox" id="autre" name="autreinfo" placeholder="Autres informations..." required></textarea>

        <input formmethod="post" formaction="/formulaireAdoption" class="btn" type="submit" value="envoyer">

    </form>
</div>