<!-- translate from html with https://pughtml.com/, god bless this website-->
<section class="aboutus margin-top-120" id="aboutus">|
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center margin-top-80">
                    <h1>Personnes enregistr&eacute;es</h1>
                </div>
                <!-- End of head title-->
                <div>
                    <table class="table">
                        <thead>
                        <!-- En-tête du tableau-->
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Pr&eacute;nom</th>
                            <th scope="col">facebook</th>
                            <th scope="col">Date de naissance</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">Maison</th>
                            <th scope="col">Portable</th>
                            <th scope="col">lieu</th>
                            <th scope="col">email</th>
                            <th scope="col">bloque</th>
                            <th scope="col">pr&eacute;visite FA</th>
                            <th scope="col">FA</th>
                            <th scope="col">Statuts</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- data-->
                        {{#each persons}}
                            <tr>
                                <td>{{this.nomP}}</td>
                                <td>{{this.prenomP}}</td>
                                <td>{{this.facebookP}}</td>
                                <td>{{this.dateNaissanceP}}</td>
                                <td>{{this.rueP}}</td>
                                <td>{{this.telDomicileP}}</td>
                                <td>{{this.telPortableP}}</td>
                                <td>{{this.telAutreP}}</td>
                                <td>{{this.emailP}}</td>
                                <td>{{this.commentaires}}</td>
                                <td>{{this.FA}}</td>
                                <td>test</td>
                                <td>test</td>

                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End of col-sm-12-->
        </div>
        <!-- End of row-->
    </div>
    <!-- End of Container-->
    <hr/>
</section>