<!-- translate from html with https://pughtml.com/, god bless this website-->

<!-- About Section-->

<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <form id="hasVetDogs" action="/dogVeterinaire" method="post">
                <input type="hidden" name="idVetDog" value="{{veto.idVeterinaire}}" required>
                <label style="color: #46b8da;">
                    <input type="image" src="images/soins.png"  value="Chiens soignés par ce vétérinaire"><br>Soins prodigués  </label>
            </form>
            </p>
        </div></div></div>

<div class="container">


            <div class="row">

                <div class="col-sm-7">
                    <br><br><br>

                    <body>

                    <div tabindex="0" class="leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" id="mapid" style="outline: invert; width: 600px; height: 400px; position: relative;"><div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);"><div class="leaflet-pane leaflet-tile-pane"><div class="leaflet-layer " style="z-index: 1; opacity: 1;"><div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 18; transform: translate3d(0px, 0px, 0px) scale(1);"><img class="leaflet-tile leaflet-tile-loaded" role="presentation" style="width: 256px; height: 256px; opacity: 1; transform: translate3d(56px, -91px, 0px);" alt="" src="https://api.tiles.mapbox.com/v4/mapbox.streets/13/4093/2723.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"><img class="leaflet-tile leaflet-tile-loaded" role="presentation" style="width: 256px; height: 256px; opacity: 1; transform: translate3d(312px, -91px, 0px);" alt="" src="https://api.tiles.mapbox.com/v4/mapbox.streets/13/4094/2723.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"><img class="leaflet-tile leaflet-tile-loaded" role="presentation" style="width: 256px; height: 256px; opacity: 1; transform: translate3d(56px, 165px, 0px);" alt="" src="https://api.tiles.mapbox.com/v4/mapbox.streets/13/4093/2724.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"><img class="leaflet-tile leaflet-tile-loaded" role="presentation" style="width: 256px; height: 256px; opacity: 1; transform: translate3d(312px, 165px, 0px);" alt="" src="https://api.tiles.mapbox.com/v4/mapbox.streets/13/4094/2724.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"><img class="leaflet-tile leaflet-tile-loaded" role="presentation" style="width: 256px; height: 256px; opacity: 1; transform: translate3d(-200px, -91px, 0px);" alt="" src="https://api.tiles.mapbox.com/v4/mapbox.streets/13/4092/2723.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"><img class="leaflet-tile leaflet-tile-loaded" role="presentation" style="width: 256px; height: 256px; opacity: 1; transform: translate3d(568px, -91px, 0px);" alt="" src="https://api.tiles.mapbox.com/v4/mapbox.streets/13/4095/2723.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"><img class="leaflet-tile leaflet-tile-loaded" role="presentation" style="width: 256px; height: 256px; opacity: 1; transform: translate3d(-200px, 165px, 0px);" alt="" src="https://api.tiles.mapbox.com/v4/mapbox.streets/13/4092/2724.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"><img class="leaflet-tile leaflet-tile-loaded" role="presentation" style="width: 256px; height: 256px; opacity: 1; transform: translate3d(568px, 165px, 0px);" alt="" src="https://api.tiles.mapbox.com/v4/mapbox.streets/13/4095/2724.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"></div></div></div><div class="leaflet-pane leaflet-shadow-pane"></div><div class="leaflet-pane leaflet-overlay-pane"></div><div class="leaflet-pane leaflet-marker-pane"></div><div class="leaflet-pane leaflet-tooltip-pane"></div><div class="leaflet-pane leaflet-popup-pane"></div><div class="leaflet-proxy leaflet-zoom-animated" style="transform: translate3d(1.04805e+006px, 697379px, 0px) scale(4096);"></div></div><div class="leaflet-control-container"><div class="leaflet-top leaflet-left"><div class="leaflet-control-zoom leaflet-bar leaflet-control"><a title="Zoom in" class="leaflet-control-zoom-in" role="button" aria-label="Zoom in" href="#">+</a><a title="Zoom out" class="leaflet-control-zoom-out" role="button" aria-label="Zoom out" href="#">−</a></div></div><div class="leaflet-top leaflet-right"></div><div class="leaflet-bottom leaflet-left"></div><div class="leaflet-bottom leaflet-right"><div class="leaflet-control-attribution leaflet-control"><a title="A JS library for interactive maps" href="https://leafletjs.com">Leaflet</a> | Map data © <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a></div></div></div></div>
                    <script>

                        var mymap = L.map('mapid').setView([48.160626, -3153626], 5);

                        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoidHJ1ZmZlZXRwYXR0ZXMiLCJhIjoiY2p3dzU3M3I0MGYxczRhbWh6NnZwZ29qNCJ9.Om8V9yPMGwK4Pf_GPX9s-g', {
                            maxZoom: 18,
                            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                            id: 'mapbox.streets'
                        }).addTo(mymap);

                        <!--Sion-->
                        var marker = L.marker([46.23, 7.36]).addTo(mymap);
                        <!--Quimper-->
                        var marker2 = L.marker([48, -4.1]).addTo(mymap);
                        <!--Bron-->
                        var marker3 = L.marker([45.77, 4.77]).addTo(mymap);
                        <!--Vannes-->
                        var marker4 = L.marker([47.66, -2.75]).addTo(mymap);
                        <!--Lorient-->
                        var marker5 = L.marker([47.75, -3.36]).addTo(mymap);
                        <!--Riddes-->
                        var marker6 = L.marker([46.1718, 7.221895]).addTo(mymap);
                        <!--Sierre-->
                        var marker7 = L.marker([46.292229, 7.532204]).addTo(mymap);
                        <!--Martigny-->
                        var marker8 = L.marker([46.103312, 7.072376]).addTo(mymap);
                        <!--Vétroz-->
                        var marker9 = L.marker([46.225749, 7.279244]).addTo(mymap);
                        <!--Nantes-->
                        var marker10 = L.marker([47.224642, -1.554208]).addTo(mymap);
                        <!--Rennes-->
                        var marker11 = L.marker([48.129764, -1.722217]).addTo(mymap);
                        <!--Brest-->
                        var marker12 = L.marker([48.393832, -4.491019]).addTo(mymap);

                        var popup = L.popup()
                                .setLatLng([47.5, 6])
                                .setContent("I'm here")
                                .openOn(mymap);



                        function onMapClick(e) {
                            popup
                                    .setLatLng(e.latlng)
                                    .setContent("You clicked the map at " + e.latlng.toString())
                                    .openOn(mymap);
                        }

                        mymap.on('click', onMapClick);


                        <!--all the popup-->
                        marker.bindPopup("<b>Züger Laura</b>").openPopup();
                        marker2.bindPopup("<b>Barthelemy Marie-Hélène</b>").openPopup();
                        marker3.bindPopup("<b>Ab Der Halden Frédéric</b>").openPopup();
                        marker4.bindPopup("<b>Bonarelli Philippe</b>").openPopup();
                        marker5.bindPopup("<b>Dierick Philippe</b>").openPopup();
                        marker6.bindPopup("<b>Saillen Caroline</b>").openPopup();
                        marker7.bindPopup("<b>Zufferey Pascal</b>").openPopup();
                        marker8.bindPopup("<b>Daves Christine</b>").openPopup();
                        marker9.bindPopup("<b>Morend Christophe</b>").openPopup();
                        marker10.bindPopup("<b>Brulliard Vincent</b>").openPopup();
                        marker11.bindPopup("<b>Batellier Frank</b>").openPopup();
                        marker12.bindPopup("<b>Chambon Thierry</b>").openPopup();
                    </script>

                    </body>

                </div>

                <div class="col-sm-5">



                    <div >

                        <div></div>

                        <div class="column" style="width:100%;">

                            <div class="column-content">

                                <div class="clearfix">



                                    <div style="text-align: left;">

                                        <form id="myveto" action="/vets" method="get">

                                            <h4 style="text-align: right;" >  <input src="images/supprimer.png"  type="image" value="Supprimer"></h4>

                                            <table class="table">

                                                <tr><th></th><td ><input type="hidden" type="number" name="idmyveto" value="{{veto.idVeterinaire}}">

                                                </td></tr>

                                                <tr>

                                                    <th>ID</th>

                                                    <td>{{veto.idVeterinaire}}</td>

                                                </tr>

                                                <tr>

                                                    <th>Nom</th>

                                                    <td>{{veto.nomV}}</td>

                                                </tr>

                                                <tr>

                                                    <th>Prénom</th>

                                                    <td>{{veto.prenomV}}</td>

                                                </tr>

                                                <tr>

                                                    <th>Clinique</th>

                                                    <td>{{veto.cliniqueV}}</td>

                                                </tr>

                                                <tr>

                                                    <th>Rue</th>

                                                    <td>{{veto.rueV}}</td>

                                                </tr>

                                                <tr>

                                                    <th>Code postal</th>

                                                    <td>{{lieu.codePostal}}</td>

                                                </tr>

                                                <tr>

                                                    <th>Localité</th>

                                                    <td>{{lieu.ville}}</td>

                                                </tr>

                                                <tr>

                                                    <th>Spécialité</th>

                                                    <td>{{veto.specialiteV}}</td>

                                                </tr>

                                                <tr>

                                                    <th>Commentaires</th>

                                                    <td>{{veto.commentaireV}}</td>

                                                </tr>

                                                <tr>

                                                    <th>Tarifs</th>

                                                    <td>{{veto.tarifs}}</td>

                                                </tr>

                                                <tr>

                                                    <th>Bloqué</th>

                                                    <td>{{veto.bloque}}</td>

                                                </tr>

                                            </table>



                                            </tr>

                                        </form>





                                    </div>

                                </div>

                            </div>

                        </div>





                    </div>

                </div>

                <!-- End of header-->

                <section class="aboutus margin-top-120" id="aboutus">

                    <div class="container">

                        <div class="row">

                            <div class="col-md-12">

                                <br>


                                <!-- End of head title-->

                                <div>

                                    <table class="table">



                                        <tbody>



                                        <form id="updateveto" action="/vet" method="post">

                                            <tr> <td><td></td><h2 style="text-align: center;">Mettre à jour  <input src="images/maj.png" type="image" value="Mettre à jour"></h2></td><td></td></tr></tr>

                                            <tr>

                                                <td><label>ID

                                                    <input type="number" name="idVeterinaire" value="{{veto.idVeterinaire}}" readonly>

                                                </label></td>

                                                <td><label>Nom

                                                    <input type="text" name="nomV" value="{{veto.nomV}}" required>

                                                </label></td>

                                                <td><label>Prénom

                                                    <input type="text" name="prenomV" value="{{veto.prenomV}}">

                                                </label></td></td>

                                            </tr>

                                            <tr>

                                                <td><label>Clinique

                                                    <input type="text" name="cliniqueV" value="{{veto.cliniqueV}}">

                                                </label></td>

                                                <td><label>Rue

                                                    <input type="text" name="rueV" value="{{veto.rueV}}">

                                                </label></td>

                                                <td><label>ID Lieu

                                                    <input list="lieux" type="text" name="idLieu" placeholder="{{veto.idLieu}}">

                                                    <datalist id="lieux">

                                                        {{#each lieux}}

                                                            <option value="{{this.idLieu}}">{{this.codePostal}} {{this.ville}}</option>

                                                        {{/each}}

                                                    </datalist>

                                                </label></td>



                                            </tr>

                                            <tr>

                                                <td><label>Spécialité

                                                    <input type="text" name="specialiteV" value="{{veto.specialiteV}}">

                                                </label></td>

                                                <td><label>Tarifs

                                                    <input type="number" name="tarifs" value="{{veto.tarifs}}">

                                                </label></td>

                                                <td><label>Bloqué

                                                    <input list="bloque" name="bloque" value="{{veto.bloque}}">
                                                    <datalist id="bloque"><option value="1">Oui</option><option value="0">Non</option></datalist>

                                                </label></td>

                                            </tr>

                                            <tr>

                                                <td><label>Commentaires

                                                    <input type="text" name="commentaireV" value="{{veto.commentaireV}}">

                                                </label></td>



                                            </tr>



                                        </form>



                                        </tbody>

                                    </table>

                                    <br>

                                    <h2 style="color: slateblue">Ajouter un lieu</h2>

                                    <table class="table">

                                        <tr>


                                            <th>Code postal</th>

                                            <th>Ville</th>
                                            <th>Pays</th>
                                            <th></th>
                                        </tr>
                                        <form id="insertLieu" action="/vet" method="post">
                                            <tr><input type="hidden" name="idVeterinaire"  value="{{veto.idVeterinaire}}">
                                                <td>
                                                    <input type="number" name="insertCP" required>
                                                </td>
                                                <td>
                                                    <input type="text" name="insertVille" required>
                                                </td>
                                                <td>
                                                <input list="paysV" name="paysV" required >
                                                <datalist id="paysV">{{#each pays}}
                                                    <option value="{{this.idPays}}">{{this.nomPays}} / {{this.nomEnGb}}</option> {{/each}}
                                                </datalist>
                                                    </td>
                                                <td style="vertical-align: center;"><h4><input src="images/ajouter.png" type="image"  value="Ajouter"></h4></td>
                                            </tr>
                                            </tr>
                                        </form>
                                    </table>

                                    <div class="container">

                                        <div class="row">

                                            <div class="col-md-6">

                                                <h2 style="color: slateblue">Liste des lieux</h2>

                                                <table class="table">

                                                    <tr>

                                                        <th>ID Lieu</th>

                                                        <th>Code postal</th>

                                                        <th>Ville</th>

                                                        <th></th>

                                                    </tr>

                                                    {{#each lieux}}
                                                        <form id="deleteLieu" action="/lieu" method="post">

                                                            <tr>
                                                                <input type="hidden" name="idVeterinaire"  value={{veto.idVeterinaire}}>
                                                                <input type="hidden" name="deleteLieu" value="{{this.idLieu}}">

                                                                <td>{{this.idLieu}}

                                                                </td>

                                                                <td>{{this.codePostal}}

                                                                </td>

                                                                <td>{{this.ville}}

                                                                </td>
                                                                <td><h4 style="text-align: right;" >  <input src="images/supprimer.png" type="image" value="Supprimer"></h4></td>


                                                            </tr>
                                                        </form>
                                                    {{/each}}

                                                </table>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- End of col-sm-12-->

                        </div>

                        <!-- End of row-->

                    </div>

                    <!-- End of Container-->

                    <hr/>



                </section>



                <!-- End of col-sm-12-->



                <!-- End of Container-->

                <!-- End of about Section-->

            </div>


</div>







