
<!-- End of header-->
<section class="aboutus margin-top-120" id="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- End of head title-->
                <div>
                    <table class="table">
                        <thead>
                        <!-- En-tête du tableau-->
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prenom</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <form id="vetos" action="/vets" method="post">
                            <tr>
                                <td><input type="number" name="idVeterinaire" min="{{max}}" required></td>
                                <td><input type="text" name="nomV" required></td>
                                <td><input type="text" name="prenomV" required></td>
                                <td style="vertical-align: center;"><input type="submit" style="background-color:lightgreen"  value="Ajouter"></td>
                            </tr>
                        </form>
                        <!-- data-->
                        {{#each veterinaires}}
                            <form id="vetos" action="/vet" method="get">
                                <tr>
                                    <td>{{this.idVeterinaire}}</td>
                                    <td>{{this.nomV}}</td>
                                    <td>{{this.prenomV}}</td>
                                    <td><input type="hidden" type="number" name="idVeterinaire" value={{this.idVeterinaire}}>
                                        <input type="submit" value="Infos"></td>
                                </tr>
                            </form>
                        {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End of col-sm-12-->
        </div>
        <!-- End of row-->
    </div>
    <!-- End of Container-->
    <hr/>

</section>
